In [1]:
import numpy as np
import pandas as pd

In [5]:
round(7877/100*90)

7089

In [2]:
df = pd.DataFrame({
  "A" : np.random.randint(0, 9, 10),
  "B" : np.random.randint(0, 9, 10)
})

In [5]:
df.head(7)

   A  B
0  2  1
1  0  1
2  1  0
3  8  8
4  5  2
5  4  8
6  2  3

In [4]:
def my_chi2(O: list, E: list) -> float:
    """
    :param O: Наблюдаемое значение
    :param E: Ожидаемое значение
    :return: Хи2 Пирсона
    """
    chi2_val = 0
    for o, e in zip(O, E):
        chi2_val += ((e - o)**2)/e
    return chi2_val

In [12]:
D = {0: 10, 1:20, 2: 30, 4:40}
A = [10, 20, 30, 40]
for i, j in zip(list(D.keys())[1:], list(D.keys())[:-1]):
    print(f"{i} {j}")

1 0
2 1
4 2

In [33]:
def p_value(level: float, chi2: float, free: int) -> float:
    critical_dict = {
        0.1: (2.706, 4.605, 6.251, 7.779, 9.236, 10.645, 12.017, 13.362, 14.684,
              15.987, 17.275, 18.549, 19.812, 21.064, 22.307, 23.542, 24.769, 25.989,
              27.204, 28.412, 29.615, 30.813, 32.007, 33.196, 34.382, 35.563, 36.741,
              37.916, 39.087, 40.256),
        0.05: (3.841, 5.991, 7.815, 9.488, 11.07, 12.592, 14.067,
               15.507, 16.919, 18.307, 19.675, 21.026, 22.362, 23.685, 24.996, 26.296,
               27.587, 28.869, 30.144, 31.41),
        0.01: (6.635, 9.21, 11.345, 13.277, 15.086, 16.812, 18.475, 20.09, 21.66,
               23.209, 24.725, 26.217, 27.688, 29.141, 30.578, 32, 33.409, 34.805,
               36.191, 37.566)
    }
    free -= 1 # т.к. индексирование начинается с 0
    for i, j in zip(list(critical_dict.keys())[1:], list(critical_dict.keys())[::1]):
        if critical_dict[i][free] > chi2:
            return critical_dict[j][free]

In [34]:
O = [40, 32, 30, 48]
E = [33.6, 38.4, 36.4, 41.6]
var = my_chi2(O, E)
print(var)
print(p_value(0.01, var, 1))

4.395604395604393
3.841

In [34]:
A = [10, 20, 30, 40, 50]

In [ ]:
print(A.f)